header, body, footer {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-image: url("https://images.unsplash.com/photo-1530216415517-770949d4cb00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8b86f4f90ace055cfe8d51220075122&auto=format&fit=crop&w=1500&q=80");
  color: white;
  background-size: cover;
}

/* Navbar */
.navbar-default {
  background-color: rgba(0,0,0,0.45);
  border-style: none;
}

/* Logo */
.navbar-default .navbar-brand {
  padding: 0 5px 0 15px;
}

.navbar-default .navbar-brand img {
  width: 45px;
  height: 45px;
  margin: 7.5px 0;
}

/*links*/
.navbar-default .navbar-nav #the_problem,
.navbar-default .navbar-nav #how_to_help,
.navbar-default .navbar-nav #about_us {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.navbar-default .navbar-left li a:hover,
.navbar-default .navbar-left li a:focus {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

/* Social Buttons */
.navbar-default .navbar-nav > li > a {
  color: white;
  padding: 20px;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Title */
.title-page {
  width: 100%;
  height: calc(100vh - 60px - 120px);
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 60px;
}

.title {
  font-size: 10vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 57px;
}

.arrow {
    font-size: 40px;
    align-self: center;
    margin: 20px 20px;
}

/* Page Title */
.page-title {
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
}

/* The Problem */
#human-trafficking img {
  width: 60px;
}

/* About Us */
.container #bio {
  text-align: center;
  font-size: 2em;
  padding: 60px 0 60px 0;
}

.bio-text {
  font-size: 15px;
  
}

.profile img {
  height: 7em;
  margin: 20px;
  border-radius: 50%;
  border: 3px solid white;
}

.bio-socials {
  padding: 0;
}

.bio-socials li {
  list-style: none;
  display: inline-block;
  padding: 30px 20px 10px 20px;
}

.bio-socials li a {
  color: white;
}

.bio-socials .twitter a:hover,
.bio-socials .twitter a:focus {
    text-decoration: none;
    color: rgba(0,172,237,1);
}

.bio-socials .linkedin a:hover,
.bio-socials .linkedin a:focus {
    text-decoration: none;
    color: rgba(0,119,181,1);
}

.bio-socials .insta a:hover,
.bio-socials .insta a:focus {
    text-decoration: none;
    color: rgba(251,57,88,1);
}

#form-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}

.form {
  margin-bottom: 80px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  flex:1;
  margin-right: 10px;
}

.button {
  background-color: red;
  border-color: rgb(192,57,43);
  border-width: 2px;
  border-radius: 4px;
  align-self: stretch;
}

@media screen and (max-width: 767px) {
    .title-page {
      margin-top: 50px;
    }
}
