/* * {
  outline: 1px solid red;
} */

header, body, footer {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;

}

body {
  background-image: url("https://images.unsplash.com/photo-1530216415517-770949d4cb00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8b86f4f90ace055cfe8d51220075122&auto=format&fit=crop&w=1500&q=80");
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.orangered {
    color: orangered;
}

/* Navbar */
.navbar-default {
  background-color: rgb(0,0,0);
  border-style: none;
}

/* Logo */
.navbar-default .navbar-brand {
  padding: 0 5px 0 15px;
}

.navbar-default .navbar-brand img {
  width: 45px;
  height: 45px;
  margin: 7.5px 0;
}

/*links*/
.navbar-default .navbar-nav .active {
    text-decoration: underline;
    color: white;
}

.navbar-default .navbar-left li a:hover,
.navbar-default .navbar-left li a:focus,
.navbar-default .navbar-right li a:hover,
.navbar-default .navbar-right li a:focus {
    background-color: rgba(255,255,255,0.07);
    color: white;
}

/* Social Buttons */
.navbar-default .navbar-nav > li > a {
  color: white;
  padding: 20px;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 10px;
    display: flex;
}

.statement, .traffic-count, .timer {
  flex: 1;
  text-align: center;
  padding: 0 20px;
}

/* Title */
.title-page {
  width: 100%;
  height: calc(100vh - 60px - 50px);
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 60px;
}

.title {
  font-size: 10vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 57px;
  font-family: 'Special Elite', cursive;
}

.typed-cursor {
  display: none;
}

.arrow {
    cursor: pointer;
    font-size: 40px;
    align-self: center;
    margin: 20px 20px 0 0;
}

/* Page Title */
.page-title {
  font-size: 50px;
  text-align: center;
  margin-top: 65px;
}

.page-title.home-page-title {
  margin-top: 5px;
}

/* The Problem */
.content {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: rgba(0,0,0,0.6);
  padding: 0 20px 60px 20px;
}

.human-trafficking h1 {
  text-align: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 0 0;
}

.types, .how, .signs {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
}

.facts {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px 0 0 0;
}

.fact-1, .fact-2, .fact-3 {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
  border-colour: orangered;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
}

.fact-1 p, .fact-2 p, .fact-3 p {
  margin: 0;
}

.human-trafficking img {
  width: 200px;
}

#human-trafficking img {
  width: 60px;
}

/* How To Help */
.strategy {
  margin: 40px 0 0 0;
}
.strategy .strategy-intro {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px 0;
}
.strategy .strategy-items .strategy-item {
  width: 100%;
  margin: 0 0 20px 0;
}
.strategy .strategy-items .strategy-item .item-title {
  font-size: 27px;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.strategy .strategy-items .strategy-item .item-title i.fa-registered {
  margin: 0 5px 0 0;
  font-size: 50px;
  color: orangered;
}
.strategy .strategy-items .strategy-item .item-title span {
  text-transform: uppercase;
}
.strategy .strategy-items .strategy-item .item-description {
  font-size: 17px;
  text-align: center;
}

.where-are-we {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.world-map {
  width:700px;
  margin: 12px 0 12px 0;
}

.countries-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.countries-list li {
  margin: 0 20px 20px 20px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
}

.country-name {
  font-weight: bold;
  margin-right: 5px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us p {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.send-email-form {
  margin: 0 auto 60px auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.send-email-form input, .send-email-form textarea {
  margin: 0 0 15px 0;
}
.send-email-form .button {
  background-color: red;
  border-color: rgb(192,57,43);
  border-width: 2px;
  border-radius: 4px;
  align-self: flex-start;
}

/* About Us */
.container #bio {
  text-align: center;
  font-size: 2em;
  padding: 40px 0;
}

.bio-text {
  font-size: 15px;

}

.profile img {
  height: 7em;
  margin: 20px;
  border-radius: 50%;
  border: 3px solid white;
}

.bio-socials {
  padding: 0;
}

.bio-socials li {
  list-style: none;
  display: inline-block;
  padding: 30px 20px 10px 20px;
}

.bio-socials li a {
  color: white;
}

.bio-socials .twitter a:hover,
.bio-socials .twitter a:focus {
    text-decoration: none;
    color: rgba(0,172,237,1);
}

.bio-socials .linkedin a:hover,
.bio-socials .linkedin a:focus {
    text-decoration: none;
    color: rgba(0,119,181,1);
}

.bio-socials .insta a:hover,
.bio-socials .insta a:focus {
    text-decoration: none;
    color: rgba(251,57,88,1);
}

.about-us-form {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-us-form form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-form input {
  flex:1;
  margin-right: 10px;
}

.about-us-form .button {
  background-color: red;
  border-color: rgb(192,57,43);
  border-width: 2px;
  border-radius: 4px;
  align-self: stretch;
}

@media screen and (max-width: 767px) {
    .title-page {
      margin-top: 50px;
    }

    .navbar-default .navbar-brand img {
      width: 35px;
      height: 35px;
    }
}
